TOKEN=

## Jenkins staging
JENKINS_STAGING_HOST=qa-jenkins.vm:8080
JENKINS_STAGING_USERNAME=mileaadnanhussain
JENKINS_STAGING_PASSWORD=dilan

## Jenkins DC
JENKINS_DC_HOST=172.16.8.89:8080
JENKINS_DC_USERNAME=mileaadnanhussain
JENKINS_DC_PASSWORD=dilan

## redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
